<!DOCTYPE html>
<html>
  <head>
    <title>LinkTreeClone</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%# Whatever is on this page will be rendered on every other page %>

    <%# Here a partial render %>
    <%= render 'layouts/navbar' %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%# This is page BODY %>
    <%= yield %> 
  </body>
</html>
