<!DOCTYPE html>
<html>
  <head>
    <title>LinkTreeClone</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  </head>

  <body>
    <%# Whatever is on this page will be rendered on every other page %>

    <%# Here a partial render %>
    <%= render 'layouts/navbar' %>
    <%# This is page BODY %>
    <%= yield %> 
  </body>
</html>
